/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px;
}

.card {
  position: relative;
  width: 300px;
  height: 180px; /* Höhe der Visitenkarte beibehalten */
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.info {
  text-align: center;
}

h1 {
  margin: 5px 0;
  font-size: 1.2em;
  color: #333;
}

p {
  color: #666;
  font-size: 0.9em;
  margin: 3px 0;
  width: 100%; /* Elemente nehmen die volle Breite der Karte ein */
  text-align: center; /* Zentrierte Ausrichtung des Textes */
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

label {
  font-weight: bold;
  color: #333;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
  width: 90%; /* Breite der Eingabefelder reduzieren */
  padding: 8px;
  margin-bottom: 3px; /* Abstand zwischen den Eingabefeldern weiter verringern */
  border: 1px solid #ccc;
  border-radius: 4px;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #45a049;
}

.credit {
  display: none; /* Den Hinweis ausblenden */
}

